
.gathering-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /* height: 400px; */
  margin-bottom: 20px;
}

.startGathering-container {
  clear: both; /* Ensure the button is on a new line */
}

.icon-container {
  /* Your existing styles */
  border: 2px solid #000000;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.icon-container.selected {
  border: 2px solid green;
  background-color: rgba(104, 255, 67, 0.19);
}

div.profession-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.prof-icon {
  border: 3px solid #000000;
  border-radius: 4px;
  border-bottom-right-radius: 0;
}

.button-wrapper {
  position: relative;
  display: inline-block;
}

.loop-icon {
  position: absolute;
  top: 50px;
  left: 24px;
}

.iteration-input {
  position: absolute;
  top: 48px;
  left: 6px;
  width: 44px;
  background-color: rgb(155, 155, 155);
  border: 2px solid #000000;
  border-radius: 3px;
}

.checkbox {
  position: absolute;
  top: 50px;
  left: 58px;
}

.gather-button {
  cursor: pointer;
  height: 28px;
  width: 70px;
  background-color: rgb(255, 174, 0);
  color: rgb(0, 0, 0);
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 72px;
  margin-left: 6px;
}

.gather-button:hover {
  background-color: rgba(255, 174, 0, 0.589);
}

.tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  margin-top: -121px;
  margin-left: 1px;
  width: 116px;
  height: 116px;
}

.tooltip-text {
  font-size: 14px;
  margin-top: 10px;
  line-height: 14px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  text-align: left;
}

.tooltip-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  margin-left: 0px;
}

.tooltip-text .loot-text {
  margin-left: 10px;
  margin-top: 10px;
}

.tooltip-text .loot-text div {
  margin-bottom: 5px;
}

.bordered-box {
  border: 3px solid #000000;
  border-radius: 4px;
  height: 60px;
  width: 84px;
  margin-top: 48px;
  margin-left: -76px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}