.horizontal-navbar {
  display: flex;
  justify-content: space-around;
  background-color: #5869ff;
  padding: 10px;
}

.horizontal-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.horizontal-navbar li {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.horizontal-navbar li:hover {
  background-color: #ddd;
}

.horizontal-navbar .active {
  background-color: #b6bdfe; /* Highlight color for the selected tab */
  color: white;
}